.texto {
    text-align: justify;
}

.card {
    border-style: none;
}

.mi-card-presentacion:hover {
    border: 2px solid red;
    transition: border-color 0.3s ease, border-width 0.3s ease;
}

.mi-card-presentacion:hover .imagen-container{
    opacity: 1; 
    transform: scale(1);
}

.mi-card-presentacion .col-md-8 {
    transition: width 0.4s ease-in-out; 
}

